body{
    background-color: antiquewhite;
}
#connect{
    /* position: relative; */
    margin-left: 20px;
    
    
   /*  left: 100px;
    border: 3px solid #73AD21;
    float: left;
    background-color: white; */
}
#container
{
    padding: 20px;
    border-width: 5px;
    border-style: dotted;
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
}
.MainContainer
{
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    max-width: 500px;
    float: left;
    margin: 1.66%
}
.text_box{
     width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 20px 5px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.button_a {
    -webkit-transition-duration: 0.4s; /* Safari */
     padding: 4px 10px 4px 10px;
    transition-duration: 0.4s;
}

.button_a:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

legend {
            padding: 0 20px;
        }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.styled-select {
  
   height: 29px;
    overflow: hidden; 
   width: 240px;
}
.styled-select select {
   
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 260px;
}

.styled-select.slate {
   background: url("./2e3ybe1.jpg") no-repeat right center;
   height: 34px;
   width: 260px;
   float: left;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 260px;
   
}
/* #container {
	margin: 20px auto;
	max-width: 600px;
} */